body{font-family: Helvetica, Arial; font-weight: regular; font-size: 13px; color: #000; background-color: #FFF; margin: 0;}
h1{font-family: "Helvetica Narrow", Tahoma,Arial,Helvetica,sans-serif; font-weight: bold; font-size: 32px; line-height: 32px; letter-spacing: -1px; color: #333; margin-top:50px; margin-bottom: 30px;}
h3{font-weight: bold; font-size: 14px; color: #000; text-transform: uppercase; margin-bottom: 10px;  letter-spacing: +2px;}
p{margin: 8px 0 20px 0; line-height: 18px;}
a, a:visited{color: #397DB8; text-decoration: none;}
a:hover{text-decoration: underline;}

.wrapper{display: block; padding: 4px 30px 0 30px;}

.map{background-color:#eee; position: absolute; top: 0; left: 0; bottom: 0; width: 67%; *height:100%;}
.sidepanel{background-color:#FFF; position: absolute; top: 0; right: 0; bottom: 0; width: 33%; height: 100%; overflow: auto;}

.context{font-family: Helvetica, Arial; font-size: 13px; color: #999; padding: 10px 0 0 0;}
.subheader{border-bottom: 1px solid #ddd;}
.footer{border-top: 1px solid #ddd; margin-top: 30px;}
.titleBlock{text-align: right;}

html, body, #map {
      position: relative;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    h2{
      color: #000;
      font-size: 16px;
       border-bottom-style:solid;
      border-width: 1px;
      padding-top:0px;
      padding-bottom:20px;

    }

    .popup{
      width: 300px;
      position: absolute;
      right: 20px;
      padding: 10px;
      color:#000;
      top: 400px;
      opacity:0.9;
      background: #fff;
      z-index: 20;
      box-shadow: 2px 2px 2px #888888;
    }

    .toolbar {
      position: absolute;
      bottom: 0px;
      right: 0px;
      background-color: rgba(255, 255, 255, 0.8);
      font: 30px "Helvetica Neue";

      width: 100%;
    }

    #date{
      font-size: 20px;
      font-weight: bold;
      color: #999;
     
      letter-spacing: +3px;
    }

    #timeContainer{
       border-top-style:solid;
       border-bottom-style:dotted;
      border-width: 1px;
      padding-top:20px;
      padding-bottom:10px;
    }

    #timeline{
      margin-bottom: 10px;
      width:100%;
      float:left;
      background-color:;
    }

    .timeline-element{
      display:block;
      float:left;
     
    }

    .triggerPopup{
      border-bottom-style: dotted;
      border-width: 1px;
    }

    #evictionCount{
      font: 18px "Helvetica Neue";
      height: 60px;
      width: 400px;
      display:block;
      float:right;

    }
  
    .tooltip{
      color:#fff;
      background-color:#000;
      opacity:0.7;
      padding-right: 10px;
      padding-left: 10px;
      padding-top: 4px;
      padding-bottom: 4px;
      text-transform: uppercase;
      letter-spacing: +1px;
    }
   
    path {
      fill: #f00;
      fill-opacity: .5;
      stroke: #fff;
      stroke-width: 1.5px;
    }

     #counter{
      color:#000000;
      font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica;
      letter-spacing: -1px;
      
    }

    #play{
    width:30px;
    height:30px;
    cursor:pointer;
     vertical-align: middle;
     background-image:url('../images/pause.png');
     
    }

    #slider{
      width: 65%;
      height: 14px;
      top:8px;
   z-index: 20;
   margin-left:5px;
   
    }

    circle {
      fill: #f30;
      stroke-width: 0.5px;
      fill-opacity: 0.8;
      stroke: #FFF;
  }

  .center {
    stroke-width: 7px;
    stroke-opacity: 0.4;
    fill: #000;
    
  }

  /* Here are the styles that makes the template responsive */

@media only screen and (max-width: 768px) {
  .map{position: inherit; height: 400px; width: 100%; display: block;}
  .sidepanel{transform: scale(0.5,0.5);
   

-ms-transform: scale(0.5,0.5); /* IE 9 */
-webkit-transform: scale(0.5,0.5); /* Safari and Chrome */
  height: 200%;
    width:66%;
    right:-17%;
    top: -50%;
    
    }
    h1{font-size: 32px;}
    h3{font-size: 17px; color: #000; text-transform: uppercase; margin-bottom: 10px; line-height: 22px; letter-spacing: +2px;}
    
  
}

@media only screen and (max-width: 480px) {
  .map {height: 300px;}
  
  
}
