/* =============================================================================
// CSS/ADMIN/TOOLS.CSS
// -----------------------------------------------------------------------------
// Styles for the tools section.
// ========================================================================== */

/* =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base Styles
//   02. Customizer Import/Export Functionality
// ========================================================================== */

/* Base Styles
// ========================================================================== */

.tools-php .tool-box > .title {
  margin-top: 42px;
}

.tools-php h2 + .tool-box > .title,
.tools-php h2 + .error + .tool-box > .title,
.tools-php h2 + .updated + .tool-box > .title {
  margin-top: 8px;
}



/* Customizer Import/Export Functionality
// ========================================================================== */

.tool-box.x-customizer .import-export-reset {
  float: left;
  width: calc(33.3333% - 1.7em);
  margin: 0 1.7em 1.7em 0;
  border: 1px solid #e5e5e5;
  padding: 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.tool-box.x-customizer .import-export-reset .title {
  margin: -12px -12px 0;
  border-bottom: 1px solid #eee;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}

.tool-box.x-customizer .import-export-reset p.submit {
  margin-bottom: 0;
  padding: 0;
}

.tool-box.x-customizer .import-export-reset.import input[type="file"] {
  font-size: 13px;
}

.tool-box.x-customizer .import-export-reset.reset {
  margin-right: 0;
}

.tool-box.x-customizer .import-export-reset.reset input[type="checkbox"] {
  margin: 0 0 3px 5px;
}

@media (max-width: 979px) {
  .tool-box.x-customizer .import-export-reset.import,
  .tool-box.x-customizer .import-export-reset.export,
  .tool-box.x-customizer .import-export-reset.reset {
    float: left;
    width: 100%;
    margin-right: 0;
  }
}